@font-face {
   font-family: 'RightGrotesk-WideMedium';
   font-display: swap;
   src: url('file:///Users/costanzacucuzza/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-11-20_154047/fonts/RightGrotesk-WideMedium/font.ttf');
}
